{% extends 'base.html.twig' %}

{% block body %}

  <div id="search-by-name" class="search-box-container">
    <i class="medium material-icons">search</i>
    <input type="text" class="search-box-input" placeholder="Search by Name..." />
  </div>

{% endblock %}