{% extends 'view_project/index.html.twig' %}

{% block submit %}

  <div>
    <button class="btn btn-primary btn-md float-right" onclick="submitProject()" type="submit">Confirm & Submit</a>
    <button class="btn btn-outline-primary btn-md float-right" onclick="window.history.back()">Go Back & Edit</button>
  </div>

  <script>
    function submitProject() {
      
    }
  </script>

{% endblock %}