<a class="col-lg-4 col-sm-6" href="{{ path }}">
  <div class="card">
    <img class="icon" src="{{ icon }}" />
    <div class="title">{{ title }}</div>
    <div class="description">{{ description }}</div>
  </div>
</a>