{% block body %}

    <div class="nav-item-container">
      <li class="nav-item">
        <a href="{{ path }}" class="nav-link nav-link-name">{{ name }}</a>
      </li>
    </div>
    
{% endblock %}