{% block body %}

  <div class="nav-item-container">
    <li class="nav-item">
      <a href="#" class="nav-link nav-link-name">
        <div class="nav-link-signin">
          <i class="fas fa-user-circle signin-user-icon"></i>
          <dev>Sign in</dev>
        </div>
      </a>
    </li>
  </div>
    
{% endblock %}