{% block body %}

  <div class="nav-item-container">
    {#  #}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
      {% set profile_picture = app.user.getProfilePicture %}

<div class="btn-group dropleft">
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if profile_picture is null %}
            <img src="{{ asset('icons/default-profile-picture.png') }}" class="profile-picture" >
          {% else %}
            <img src="{{ profile_picture }}" class="profile-picture" >
          {% endif %}
        </a>
        {{ include('navbar/user_dropdown.html.twig') }}
      </li>
      </div>

    {% else %}

      <li class="nav-item">
        <a href="{{ path('signin')}}" class="nav-link nav-link-name">
          <div class="nav-link-signin">
            <i class="fas fa-user-circle signin-user-icon"></i>
            <div>Sign in</div>
          </div>
        </a>
      </li>

    {% endif %}

  </div>
    
{% endblock %}