{% block footer %}
  <!-- Custom styles for this template -->
  <link href="{{ asset('css/footer/index.css') }}" rel="stylesheet"/>

  <footer class="footer">
    <div>
      Copyright ©
      <a href="https://opensource.lk/" target="_blank">Lanka Software Foundation</a> 
      <script>document.write(new Date().getFullYear())</script>
    </div>

    <a href="https://opensource.lk/" target="_blank"><img src="{{ asset('img/lsf-logo.png') }}" ></a>
  </footer>
  
{% endblock %}