.header {
    position: relative;
    width: 100%;
    font-family: 'Montserrat';
    background-image: linear-gradient(to right, #e6e6e640, #cccccc65);
    margin-bottom: 20px;
    padding: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.project-image {
    position: absolute;
    height: 500px;
    object-fit: contain;
    left: 35%;
    top: -40%;
}

.project-icon {
    height: 120px;
    position: absolute;
    object-fit: contain;
    left: 35%;
    top: 20%
}

.title {
    color: #1a1a1a;
    font-weight: 500;
}

.page-description {
    font-size: 16px;
    color: #0066ff;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-left: 3px;
}

.container {
    justify-content: center;
    font-family: 'Montserrat';
    color: #404040;
    font-weight: 400;
}

.form-section-title {
    color: #1a1a1a;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 0px 20% 20px 20%;
}

.form-single-col {
    padding: 10px 25px 10px 25px;
}

.form-multi-col {
    padding: 10px 0px 10px 25px;
}

.single-input {
    margin-bottom: 50px;
    font-size: small;
}

.input-group {
    margin-top: -10px;
}

.btn-container {
    margin-bottom: 150px;
    margin: 10px 20% 100px 20%;
}

.custom-file label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview {
    border-style: dashed;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    height: 300px; 
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 50px 20px 50px 20px;
    background-color: #e6e6e650;
}

.file {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.remove-file {
    display: flex;
    justify-content: center;
    background-color: #ffe6cc;
    padding: 3px 7px 3px 7px;
    border-style: solid;
    border-color: #cc660050;
    border-width: 1px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #cc6600;
    cursor: pointer;
}