.actions-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-top: 10px;
    margin-bottom: 20px;
}

.action-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.share-button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px !important;
    margin-right: 5px;
    border-radius: 3px;
    width: 30px;
    height: 30px
}

.share-button i {
    font-size: 20px;
    color: #ffffff
}

.button {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #3385ff50;
    padding: 5px 10px 5px 10px;
    color: #3385ff;
    margin-left: 10px;
}

.button div {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}