.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #cccccc;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
}

.footer a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #cccccc;
}

.footer img {
    height: 40px;
    object-fit: contain;
}

.footer .copyright {
    margin-left: auto;
    margin-right: auto;
}

.footer .logo {
    margin-left: auto;
    margin-right: auto;
}