.card {
  font-family: 'Montserrat';
  margin-bottom: 30px;
  transition: box-shadow .5s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-bottom: 0px;
  overflow: hidden;
  border-style: hidden;
}

.card-image {
  height: 250px;
  object-fit: contain;
  position: absolute;
  transition: transform .4s ease-in-out;
  margin-left: 150px;
  margin-top: 20px;
}

.card:hover .card-image {
  transform: scale(1.7) rotate(25deg);
}

.card-title {
  font-weight: 500;
  color: #1a1a1a;
  margin-top: 12px;
}

.card-icon {
  height: 80px;
  object-fit: contain;
  transition: transform .2s ease-in-out;
  z-index: 5;
  margin-left: 10px;
}

.card:hover .card-icon {
  transform: scale(1.1);
}

.card-btn-text {
  font-size: 14px;
  color: #0066ff;
  font-weight: 600;
  margin-top: 30px;
}